/* https://coolors.co/006466-065a60-0b525b-144552-1b3a4b-212f45-272640-312244-3e1f47-4d194d */

a {
    color: #3e1f47;
}

a:hover {
    color: #006466;
}

footer {
    background-color: #4d194d;
    color: white;
}

.navbar {
    background-color: #4d194d;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover{
    color: #006466;
}

.btn-primary {
    background-color: white;
    border-color: black;
    color: black;
}

.btn-primary:hover {
    background-color: #006466;
}

.btn.btn-primary.active,
.btn.btn-primary:active,
.btn.btn-primary.focus,
.btn.btn-primary:focus {
    background-color: #006466;
    box-shadow: 0 0 5px 2px#4d194d;
}

.btn-success {
    background-color: #006466;
    border-color: #006466;
}

.btn-success:hover {
    background-color: #3e1f47;
    border-color: #3e1f47;
}

.btn.btn-success.active,
.btn.btn-success:active,
.btn.btn-success.focus,
.btn.btn-success:focus {
    background-color: #4d194d;
    box-shadow: 0 0 5px 2px #065A60;
}

.btn.btn-danger.active,
.btn.btn-danger:active,
.btn.btn-danger.focus,
.btn.btn-danger:focus {
    box-shadow: 0 0 5px 2px red;
}

.form-control:focus {
    border:1px solid #006466;
    box-shadow: 0 0 10px #006466;
}

.btn-custom {
    width: 78px !important;
}