body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.50)),
    url("https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {  
    .cover-container {
        max-width: 60vw;
    }
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700; 
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link.active {
    color: white;
    border-bottom-color: white'
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.btn {
    color: #333; 
    text-shadow: none;
    background-color: white;
}

.btn:hover,
.btn.active,
.btn:active,
.btn.focus,
.btn:focus {
    color: white; 
    text-shadow: none;
    background-color: #4d194d;
    box-shadow: 0 0 5px 2px white;
}